/*******************************************************************************
 * aksel.me theme
 *******************************************************************************/
@import url(pygment_trac.css);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

/*******************************************************************************
MeyerWeb Reset
 *******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body, html{
    width:100%;
    height:100%;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bobble {
    from {transform:translateY(-0.1em);}
    to {transform:translateY(0.1em);}
}

/* Standard syntax */
@keyframes bobble {
    from {transform:translateY(-0.1em);}
    to {transform:translateY(0.1em);}
}


@-webkit-keyframes swingo {
    from {transform:rotate(-5deg);}
    to {transform:rotate(5deg);}
}

@keyframes swingo {
    from {transform:rotate(-5deg);}
    to {transform:rotate(5deg);}
}

.bobbly {
    -webkit-animation:  bobble 2s ease-in-out 0s infinite alternate;
    animation:  bobble 2s ease-in-out 0s infinite alternate;
}

.swingy {
    -webkit-animation:swingo 1s ease-in-out 0s infinite alternate; /* Chrome, Safari, Opera */
    animation:swingo 1s ease-in-out 0s infinite alternate; /* Standard syntax */
}


/* Theme Start */
body {
    font-family: 'Amatic SC', cursive;
    background-color:#8FB6D9;
    color:#FFFFFF;
}

h1 {
    font-size:3em;
}

#header_wrap {
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

#header_wrap:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100%; 
}

#header_wrap .inner {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}

header h1 {
    display:block;
    text-align:center;
    text-shadow: 0px 1px black;
    text-decoration:none;
    color:#fff;
}

header h1:visited {
    text-decoration:none;
}


#footer_wrap {
    cursor:default;
    position:absolute;
    right:0;
    bottom:0;
    padding:0;
    margin:0;
}

#footer_wrap .inner {
    padding:1em;
    margin:0;
}


/*******************************************************************************
Small Device Styles
 *******************************************************************************/

@media screen and (max-width: 3em) {
}
